.imperio{
    background-color: red;
    
}

.rebeldes{
    background-color: blue;
}

#darth_vader{
    font-size: 32px;
}

#luke_skywalker{
    font-style: italic;
}

.soldiers{
    border: 1px solid black;
    border-style: dashed;
    letter-spacing: 0.5cm;
}

.apoyadores{
    text-align: center;
}

.naves{
    text-transform:uppercase;
}

.droides{
    text-align: center;
}