body {
    background-color: dodgerblue;
    text-align: center;
}

.container {
    text-align: center;
}

button {
    border: none;
    background-color: rgb(0, 128, 255);
    color: white;
}

h2 {
    text-align: center;
    padding: 10px;
    border: 2px dashed black;
}