#grilla{
    display: grid;
    grid-template-areas: 
        "nav header header"
        "nav productos publicidad"
        "nav servicios publicidad";
    grid-template-rows: 100px 1fr 1fr 75px;
    grid-template-columns: 20% auto 15%;

    row-gap: 10px;
    column-gap: 10px;
    height: 100vh;
    margin: 0;
}

.border {
    border: 1px solid black;
    background-color: green;
}

header{
    grid-area: header;
}

nav{
    grid-area: nav;
}

#productos{
    grid-area: productos;
}

#servicios{
    grid-area: servicios;
}

aside{
    grid-area: publicidad;
}

footer{
    grid-area: footer;
}
@media screen and (min-width: 768px){
    #grilla{
        grid-template-columns: repeat(4, 1fr);
    }
    .border{
        border: 4px solid black;
        background-color: blue;
    }
}

@media screen and (min-width: 1024px){
    #grilla{
        grid-template-columns: repeat(3, 1fr);
    }
    .border{
        border: 4px solid black;
        background-color: green;
    }
}