@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body{
    font-family: Rubik, Verdana, sans-serif;
    color: white;
}

.navbarM{
    width: 100%;

    background-color: #BA181B;
}

header{
    display: flex;
    height: 55vh;
    flex-direction: column;
    align-items: center;
    width: 100%;

    background-color: #E5383B;
}


header img{
    height: 80%;
    border-radius: 150px;
    margin: 10px;

    padding: 1.4%;
}

@media only screen and (max-width: 500px){
    header img{
        width: 80%;
        height: auto;
    }
}

@media only screen and (max-width: 600px){
    header img{
        width: 60%;
        height: auto;
    }
}

@media only screen and (max-width: 912px){
    header img{
        width: 35%;
        height: auto;
    }
}

#portfolio{
    padding: 15px;
}

#portfolio img{

    width: 65%;
    height: 100%;

    border-radius: 20px;


}

#aboutMe{
    background-color: #BA181B;

    display: block;
    text-align: center;

    padding: 10px 15px;
}