@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body{
    font-family: Rubik, Verdana, sans-serif;
    width: 100%;
}


nav{
    color: black;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    margin: 10px;
}

header img{
    width: 20%;
    border-radius: 150px;
}

header h4{
    padding-top: 10px;
}

@media screen and (max-width: 576px){
    header h4{
        font-size: 15px;
    }
    header h5{
        font-size: 8px;
    }
}

@media screen and (max-width: 768px){
    header h4{
        font-size: 18px;
    }
    header h5{
        font-size: 12px;
    }
}

