body{
    background-color: #3d5a80;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f7ede2;
}

h1{
    color: rgb(238, 108, 77);
}

h2{
    color: #E0FBFC;
}

li{
    color: #E1D7CD;
}

#bordeado{
    border: 3px solid white;
}

.aloha{
    background-color: #293241;
    color: white;
}

input{
    border: 2px dashed rgb(238, 108, 77);
}

div p{
    font-size: 150%;
    color: #98c1d9;
}

input[type="text"]{
    background-color: #3eccb4;
}

.activo:visited{
    color: #fff;
}

div:nth-of-type(3) p{
    background-color: blue;
}

div:nth-of-type(3) p:nth-of-type(2){
    border: 4px solid black;
}

div:nth-of-type(3) span{
    background-color: #fff;
}

input[type="checkbox"]:checked{
    margin-left: 60px;
}

label{
    text-transform: uppercase;
}

#ultimo::first-letter{
    font-size: 300%;
    background: orange;
}